body{
  font-family: 'Lato', sans-serif;
}
@media (max-width: 700px) {
  .columns {
    flex-direction: column;

    
  }
}
#div1{ 
width: 40%;
padding-left: 50px;
}
#div2{ 
width: 30%;
margin-top: 8em;
margin-left: 30em;
padding-right: 150px;
}

#div3{
  padding: 50px;
  border-radius: 25px;
  border: solid 1px grey;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 18px 30px 0px;
}
h1{ 
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

input[type=submit] {
width: 100%;
background-color: #2a87bd;
color: #F8F8FF;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #2a87bd;
}

.data-table{
  border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    border: solid 1px grey;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 18px 30px 0px;
  }



td {
  padding: 12px 15px;
}

th{ 
  background-color: #2a87bd;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;

} 

.data-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.data-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.data-table tbody tr:last-of-type {
  border-bottom: 2px solid #2a87bd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272727;
}

li {
  float: left;
}

li a {
  display: block;
  color: #F8F8FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.active {
  background-color: #6F8FAF	;
}

input[type=text], input[type=password], input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #6F8FAF;
  border-radius: 4px;
  box-sizing: border-box;
} 
button {
  width: 100%;
  background-color: #2a87bd;
  color: #F8F8FF;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
.button {
  width: 100%;
  background-color: #2a87bd;
  color: #F8F8FF;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.username{ 
  align-items: flex-end;
  margin-left: 50em;
  color: rgb(16, 165, 239);
  text-decoration: underline;
} 
.logo{
  margin-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 35px;
  max-height: 30px;
  margin-right: 40px;
}
.navbar-page { 
  font-size: 1.5em;
  padding-top: 17.50px;
}


  .form-div{ 
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 425px;
    background-color: #FFF;
    border-radius: 10px;
    padding: .75rem;
    border: solid 1px grey;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 18px 30px 0px;  }

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  font-family: 'Lato', sans-serif;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  font-family: 'Lato', sans-serif;
  color: #059;
  background-color: #BEF;
}
.success-msg {
  font-family: 'Lato', sans-serif;
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  font-family: 'Lato', sans-serif;
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  font-family: 'Lato', sans-serif;
  color: #D8000C;
  background-color: #FFBABA;
}
#navbarlogo{ 
  margin-top: -21px;  
  margin-bottom: -13px;
    padding-top: 1px;
  max-width: 35px;
  max-height: 40px;
  margin-right: 40px;
}
#navbarlogo:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#SearchInput { 
  width: 40%;
  
}

#resultCount { 
 font-size: 2em;
 color:#059;
}
table{
  border-collapse: collapse;
}